<main class="contenedor panel-administracion">
    <h1>
        <%= pageName %>
    </h1>

    <div class="contenedor-botones">
        <a href="/new-group" class="btn btn-amarillo">New Group</a>
        <a href="/new-event" class="btn btn-azul">New Event</a>
        <a href="/edit-profile" class="btn btn-rosa">Edit Profile</a>
        <a href="/profile-image" class="btn btn-amarillo">Profile Image</a>
    </div>

    <div class="seccion-admin">
        <h2>Next Events</h2>
        <% if(events.length > 0) { %>
        <ul>
            <% events.forEach(event => { %>
            <li>
                <div class="informacion-admin">
                    <% const date = event.date + ' ' + event.hour %>
                    <p class="fecha"><%= moment(date).format('LLLL') %></p>
                    <h3><%= event.title %></h3>
                    <small><%= event.interested.length %> Interested</small>
                </div>

                <div class="acciones contenedor-botones">
                    <a href="/edit-event/<%= event.id %>" class="btn btn-verde">Edit</a>
                    <a href="/event-attendees/<%= event.id %>" class="btn btn-azul2">Attendees</a>
                    <a href="/delete-event/<%= event.id %>" class="btn btn-rojo">Delete</a>
                </div>

            </li>
            <% }) %>
        </ul>
        <% }  else { %>
            <p>There's no Events yet.</p>
        <% } %>
    </div>

    <div class="seccion-admin">
        <h2>Your Groups</h2>
        <% if (groups.length) { %>
            <ul>
                <% groups.forEach(group=> { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= group.name %></h3>
                        </div>

                        <div class="acciones contenedor-botones">
                            <a href="/edit-group/<%= group.id %>" class="btn btn-verde">Edit</a>
                            <a href="/image-group/<%= group.id %>" class="btn btn-azul2">Image</a>
                            <a href="/delete-group/<%= group.id %>" class="btn btn-rojo">Delete</a>
                        </div>

                    </li>
                <% }) %>
            </ul>
            <% } else { %>
                <p>You haven't created a group yet.</p>
        <% } %>

    </div>

    <div class="seccion-admin">
        <h2>Previous Events</h2>
        <% if(previous.length > 0) { %>
        <ul>
            <% previous.forEach(event => { %>
            <li>
                <div class="informacion-admin">
                    <% const date = event.date + ' ' + event.hour %>
                    <p class="fecha"><%= moment(date).format('LLLL') %></p>
                    <h3><%= event.title %></h3>
                    <small><%= event.interested.length %> Interested</small>
                </div>

                <div class="acciones contenedor-botones">
                    <a href="/edit-event/<%= event.id %>" class="btn btn-verde">Edit</a>
                    <a href="/event-attendees/<%= event.id %>" class="btn btn-azul2">Attendees</a>
                    <a href="/delete-event/<%= event.id %>" class="btn btn-rojo">Delete</a>
                </div>

            </li>
            <% }) %>
        </ul>
        <% }  else { %>
            <p>There's no Previous Events yet.</p>
        <% } %>
    </div>
</main>