<main class="contenedor panel-administracion">
    <h1>
        <%= pageName %>
    </h1>

    <div class="contenedor-botones">
        <a href="/new-group" class="btn btn-amarillo">New Group</a>
        <a href="/new-event" class="btn btn-azul">New Event</a>
        <a href="/edit-profile" class="btn btn-rosa">Edit Profile</a>
        <a href="/profile-image" class="btn btn-amarillo">Profile Image</a>
    </div>

    <div class="seccion-admin">
        <h2>Your Events</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de mayo de 2024</p>
                    <h3>Ecommerce Mexico</h3>
                    <small>23 assistentes</small>
                </div>

                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">Assistants</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>

            </li>

            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de mayo de 2024</p>
                    <h3>Ecommerce Mexico</h3>
                    <small>23 assistentes</small>
                </div>

                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">Assistants</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>

            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Your Groups</h2>
        <% if (groups.length) { %>
            <ul>
                <% groups.forEach(group=> { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= group.name %></h3>
                        </div>

                        <div class="acciones contenedor-botones">
                            <a href="/edit-group/<%= group.id %>" class="btn btn-verde">Edit</a>
                            <a href="/image-group/<%= group.id %>" class="btn btn-azul2">Image</a>
                            <a href="/delete-group/<%= group.id %>" class="btn btn-rojo">Delete</a>
                        </div>

                    </li>
                <% }) %>

            </ul>
            <% } else { %>
                <p>You haven't created a group yet.</p>
        <% } %>

    </div>
</main>