<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUpNow - <%- pageName %></title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="LinkUpNow logo">
        </a>

        <nav class="nav">
            <a href="#">Create Group</a>
            <a href="/signIn">Log In</a>
            <a href="/signUp">Sign Up</a>
        </nav>
    </header>

    <% if (locals.messages) { %>
        <% const categoria = Object.keys(locals.messages) %>
        <% if(categoria.length) { %>
             <% locals.messages[categoria].forEach(alerta => {  %>
                 <div class="alertas">
                    <p class="alerta <%= categoria %>"> <%= alerta %></p>
                 </div>
             <% }) %>
        <% } %>
     <% } %>

    <%- body %>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Create Group</a>
            <a href="#">Log In</a>
            <a href="/signUp">Sign Up</a>
        </nav>

        <p class="copyright">
            All rights reserved LinkUpNow <%- year %> &copy;
        </p>


    </footer>
    
</body>
</html>